body { 
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    padding: 0;
    } 

header { 
    max-width: 300px;
    margin: 20px auto; 
    background: #055bb6cf; 
    color: white;
    padding: 20px;
    text-align: center;
    } 
section { 
    max-width: 300px; 
    margin: 10px auto;
    padding: 3px;
    background: white; 
    margin-top: 0; 
    line-height: 1.6;
    } 
nav a { 
    color: white; 
    text-decoration: none;
    margin: 10px; 
    } 
footer {
    max-width: 300px;
    margin : 20px auto;
    text-align: center; padding: 20px;
    background: #055bb6cf;
    color: white;
    margin-top: 5px; 
    }

 p a{ 
    color: #055bb6cf;
    text-decoration: none;
    background: none;
    }
  h2{ 
    color:#055bb6cf;
    max-width: 300px;
    margin: 40px auto;
    margin-bottom: 5px;
    text-decoration: underline;
    }
   p{ 
    font-size: 14px;
    max-width: 300px;
    margin: 40px auto; 
    margin-top: 5px;
    line-height: 1.6;
    margin-bottom: 1px;
    text-indent: 20px;
    }
    li{
        font-size: 14px;
        margin-top: 5px;
    } 
    span{ 
        line-height: 1.6; 
        font-size: 17px;
     } 
    h3{ 
        color:#055bb6cf;
        margin-top: 20px;
        text-indent: 20px;
        text-align: left; 
        line-height: 1;
        } 
    .btn {
        padding: 10px 20px;
        background: plum;
        color: white;
        border-radius: 5px;
        text-decoration: none;
        margin: 10px;
        text-align: center;
        }
     div{ 
        text-align: center;
        margin: 20px auto;
        } 
     
     .resume-buttons { 
        margin-top: 20px;
        display: flex; 
        justify-content: center;
        gap: 15px; 
        margin-top: 15px;
        flex-wrap: wrap;
        }
